bin/
*.xes
*.mxml
*.txt
*.dot
*.tmp
*.als
*.iml
.DS_Store
examples/
dist/
others/
.idea/
.metadata/
/zlib1.dll
/RunningExample.decl
/recentInventoryElements.xml
/temp.xml
/test6.decl
/target/
/asp_generator/
/logs/
/lpsolve55.dll
/lpsolve55j.dll
/lpsolve55.so
/lpsolve55j.so
plan-based-conformance-scripts/fast-downward/src/Conformance_Checking/*.pddl
plan-based-conformance-scripts/seq-opt-symba-2/Conformance_Checking/*.pddl
.vscode
